@import url("https://fonts.googleapis.com/css?family=Charm:400,700|Roboto:400,400i,700&display=swap&subset=latin-ext");

:root {
  --mainBlue: #40ace1;
  --transparentBlue: rgba(64, 172, 241, 0.7);
  --mainWhite: #fff;
  --mainBlack: #292f36;
  --mainGrey: rgb(216, 214, 214);
  --mainYellow: #e3b505;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  overflow-x: hidden;
}
/* section title */
.section-title--special {
  background: var(--transparentBlue);
  color: var(--mainWhite);
  padding: 0.5rem 2rem;
  text-align: center;
  clip-path: polygon(6% 0, 100% 0, 94% 100%, 0 100%);
}
/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--mainWhite);
  z-index: 999;
}
.hidePreloader {
  display: none !important;
}
/* navbar */
.navbar {
  background: linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.9));
  text-align: center;
}
.navbar-brand img {
  width: 90px;
}
.navbar-icon {
  font-size: 2rem;
  color: var(--mainYellow);
}
.navbar-toggler {
  outline-color: var(--mainYellow) !important;
}
.menu {
  position: relative;
  transition: all 0.9s ease-in-out;
}
.nav-link {
  color: var(--mainGrey);
  text-transform: capitalize;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav-link:hover {
  color: var(--mainYellow);
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--mainBlue);
  text-decoration: none !important;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.active {
  color: var(--transparentBlue);
}
ol li a {
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
ol li:hover {
  background: rgba(255, 255, 255, 0.164);
  margin: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
li ol {
  position: absolute;
  visibility: hidden;
  transform: scaleY(0); /* zwijamy cały element */
  -webkit-transform: scaleY(0);
  transform-origin: 50% 0; /* ustawiamy punkt zwijania względem środka górnej krawędzi */
  -webkit-transform-origin: 50% 0;
  transition: 0.3s all linear; /* wydłużamy wykonywanie stylów */
  /* display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; */
  left: -69px;
  right: -31px;
  list-style: none;
}
li:hover ol {
  display: flex;
  flex-direction: column;
  top: 40px;
  bottom: 0;
  z-index: 10;
  list-style: none;
  visibility: visible;
  transform: scaleY(1); /* rozwijamy element do całej jego wysokości */
  -webkit-transform: scaleY(1);
}
/* header */
.header {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  color: var(--mainWhite);
  overflow: hidden;
}
.pa-mi {
  margin-top: 2rem;
  color: var(--mainYellow);
  font-family: "Charm", cursive;
  text-align: center;
  font-weight: 400;
}
.name {
  font-size: 2rem;
}
h2 {
  color: var(--mainYellow);
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2) translateX(-5%);
  }
  100% {
    transform: scale(1);
  }
}
.title-heading {
  background: rgba(0, 0, 0, 0.4);
  border-left: 0.3rem solid var(--mainBlue);
}
.title {
  font-weight: 700;
  font-size: 1.9rem;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}
.title-icon {
  color: var(--mainBlue);
  text-decoration: none !important;
  transition: all 0.3s linear;
}
.title-icon:hover {
  color: var(--mainBlue);
  opacity: 0.6;
}
/* skills */
.skills-icon {
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
  /* background: var(--mainGrey); */
}
.skills-icon:hover {
  color: var(--mainYellow);
  text-decoration: none;
}
.skills-underline {
  width: 4rem;
  height: 0.3rem;
  background: var(--mainBlue);
  margin: 1rem auto;
}
/* inventory */
.inventory {
  margin-top: 2rem;
  background: var(--mainGrey);
}
.product-card {
  border-radius: 0 !important;
}
.product-img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: all 0.3s ease-in-out;
}
.x {
  overflow: hidden;
}
.de {
  font-size: 3rem;
  color: var(--mainBlue);
  transition: all 0.4s ease-in-out;
}
.de:hover {
  color: var(--mainYellow);
}
.product-img:hover {
  transform: scale(1.2) rotate(8deg);
}
.product-value {
  background: var(--mainBlue);
  color: var(--mainWhite);
  clip-path: polygon(15% 0, 85% 0, 85% 100%, 0 100%);
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}
.product-value:hover {
  clip-path: polygon(0% 0, 85% 0, 85% 100%, 0 100%);
}
/* about section */
.about-img__container {
  position: relative;
  z-index: 1;
}
.nth {
  justify-content: space-around;
}

.about-img__container::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: -1;
  transition: all 0.7s linear;
}
.about-img__container:hover::before {
  top: 0;
  left: 0;
}
.flaga {
  display: flex;
  align-items: center;
}
/* #poka-de,
#poka-gb {
  display: none;
} */
.tlo {
  background: var(--mainGrey);
}
/* question */
.question {
  background: linear-gradient(rgba(16, 29, 44, 0.4), rgba(16, 29, 44, 0.6)),
    url("../img/lus/DSC00019.JPG") center/cover fixed no-repeat;
}
.question-grey {
  background: rgba(79, 109, 122, 0.75);
}
.question-yellow {
  background: rgba(227, 181, 5, 0.75);
}
.question-icon {
  font-size: 4rem;
  color: var(--mainBlue);
  transition: all 0.5s ease-in-out;
}
.question-icon:hover {
  transform: translateY(-10%);
}
.question-info {
  color: var(--mainWhite);
}
/* featured */
.featured {
  background: var(--mainGrey);
}
.featured-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}
.featured-info a {
  text-decoration: none;
}
.featured-center {
  font-size: 4rem;
  text-align: center;
}
sup {
  font-size: 1.5rem;
  color: var(--mainYellow);
}
.featured-item {
  background: var(--mainWhite);
  border-radius: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}
.featured-item:hover {
  opacity: 1;
  transform: scale(1.05);
}
.featured-icon {
  font-size: 1.5rem;
  color: var(--mainYellow);
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.featured-icon:hover {
  color: var(--mainBlue);
}
.img-container {
  background: var(--mainBlue);
  position: relative;
  overflow: hidden;
}
.featured-photo {
  transition: all 0.7s ease-in-out;
}
.img-container:hover .featured-photo {
  transform: scale(1.3) rotate(8deg);
  opacity: 0.5;
}
.featured-link {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  color: var(--mainBlack);
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.featured-link:hover {
  color: var(--mainWhite);
}
.img-container:hover .featured-link {
  opacity: 1;
}
/* contact */
.outline {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.map {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}
iframe {
  position: absolute;
  width: 100%;
  border: none;
  height: 100%;
}
.contact {
  min-height: 80vh;
  background: linear-gradient(rgba(16, 29, 44, 0.4), rgba(16, 29, 44, 0.6)),
    url("../img/meb/DSC00188.JPG") center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-card {
  display: flex;
  flex: 0 0 80%;
  padding: 40px 0;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex: 0 0 60%;
  flex-direction: column;
}
form input {
  margin: 10px 0;
}
form h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--mainGrey);
}
form input,
form textarea {
  padding: 5px;
  border: 3px solid var(--mainGrey);
}
input::placeholder,
textarea::placeholder {
  color: var(--mainGrey);
}
.form-btn {
  margin: 20px;
  font-size: 20px;
  border-radius: 40px;
  padding: 5px;
  background: var(--mainGrey);
  color: var(--mainBlue);
  border: none;
  transition: all 0.3s ease;
}
.form-btn:hover {
  color: var(--mainGrey);
  background: var(--transparentBlue);
  cursor: pointer;
}
/* footer icon */
.footer {
  background: var(--mainBlack);
  text-align: center;
  text-transform: uppercase;
  padding: 60px 0;
}
.footer-icon {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--mainYellow);
  transition: all 0.3s ease-in-out;
}
.footer-icon:hover {
  color: var(--mainBlue);
}
.studio {
  font-family: "Charm", cursive;
  font-size: 1rem;
  color: var(--mainWhite);
  margin-top: 2rem;
}
/* gallery */
.tiles {
  overflow-x: hidden;
  position: relative;
  top: 4rem;
  left: 0;
  /* width: 100%; */
  height: 100vh;
  margin-bottom: 4rem;
  /* padding: 2rem 0; */
}
.tile {
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 100%;
  overflow: hidden;
}
.photo {
  position: absolute;
  /* top: 0; */
  /* left: auto;
  right: auto; */
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: transform 0.8s ease-out;
}
/* Start Slider */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--mainBlue) !important;
  font-weight: bold;
  font-size: 4rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(255, 255, 255, 0.38);
  text-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.83);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
}
.prev:hover,
.next:hover {
  background: var(--mainYellow);
  transform: scale(1.5);
  top: 43%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 1px #fff;
}
.mySlides {
  position: relative;
}
.numbertext {
  position: absolute;
  color: #fff;
  text-shadow: 0 0 20px #000;
  padding: 0.1rem 0.4rem;
}
/* End Slider */
@keyframes fot {
  0% {
    transform: rotateX(6deg) scale(1);
    transition: all 9s ease-out;
  }
  50% {
    transform: scale(1.2) rotate3d(0, 1, 0, 5deg) translateY(5.5%)
      translateX(8.2%);
    overflow: hidden;
  }
  100% {
    transform: rotateX(6deg) scale(1);
    transition: all 10s ease-in-out;
  }
}
@keyframes carousel {
  0% {
    left: 0;
    opacity: 0.79;
    transition: all 2s ease-in-out;
  }
  11% {
    left: 0;
    opacity: 0.89;
    transition: all 1s ease-out;
  }
  12.5% {
    left: -100%;
    opacity: 0.7;
    transition: all 2s ease-out;
  }
  23.5% {
    left: -100%;
    opacity: 0.85;
    transition: all 1s ease-out;
  }
  25% {
    left: -200%;
    opacity: 0.95;
    transition: all 2s ease-out;
  }
  36% {
    left: -200%;
    opacity: 0.7;
    transition: all 1.5s ease-out;
  }
  37.5% {
    left: -300%;
    opacity: 0.85;
    transition: all 1s ease-out;
  }
  48.5% {
    left: -300%;
    opacity: 0.7;
    transition: all 1.6s ease-out;
  }
  50% {
    left: -400%;
    opacity: 0.95;
    transition: all 1.4s ease-out;
  }
  61% {
    left: -400%;
    opacity: 0.86;
    transition: all 1.3s ease-out;
  }
  62.5% {
    left: -300%;
    opacity: 0.76;
    transition: all 1s ease-out;
  }
  73.5% {
    left: -300%;
    opacity: 0.9;
    transition: all 1.2s ease-out;
  }
  75% {
    left: -200%;
    opacity: 0.85;
    transition: all 1.3s ease-out;
  }
  86% {
    left: -200%;
    opacity: 0.79;
    transition: all 1.4s ease-out;
  }
  87.5% {
    left: -100%;
    opacity: 0.7;
    transition: all 1.5s ease-out;
  }
  98.5% {
    left: -100%;
    opacity: 0.87;
    transition: all 1.8s ease-out;
  }
  100% {
    left: 0;
    opacity: 0.8;
    transition: all 1.9s ease-out;
  }
}
/* end of gallery */
/*popup*/
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%;
  display: table;
  background: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
  transform: translate(-50%, -50%) scale(0.25);
  -webkit-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
  padding-top: 2rem;
}
.popup_img {
  margin-bottom: 1rem !important;
}
@media only screen and (max-width: 56.25em) {
  .port {
    display: none;
  }
  .y {
    flex-direction: column;
  }
  .popup__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .popup__left {
    padding: 1.5rem !important;
    width: 100% !important;
  }
  .popup__text {
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 37.5em) {
  [data-scale="2.4"] {
    z-index: -1;
  }
  .tile {
    width: 100%;
  }
  ol li:hover {
    padding: 0 0.5rem;
  }
  .tlo {
    background: transparent;
  }
  .y {
    flex-direction: column;
  }
  .popup__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .popup__left {
    padding: 1rem !important;
    width: 100% !important;
  }
  .popup__text {
    font-size: 1.4rem !important;
  }
}
.popup__left {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100vh;
  padding: 3rem 0 3rem 3rem;
  color: #d3325f;
}
.popup__left p {
  color: #606060cc;
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 0.3rem !important;
  line-height: 2rem;
}
.popup__right {
  width: 20.333333%;
  display: table-cell;
  vertical-align: bottom;
  padding: 4rem 2rem 4rem 4rem;
}
@media only screen and (max-width: 56.25em) {
  .popup__right,
  .text {
    display: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__right,
  .text {
    display: none;
  }
}
.popup__text {
  font-size: 1.6rem;
  line-height: 1em;
  margin-bottom: 4rem;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.popup__text h3 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.4)),
    to(rgba(0, 0, 0, 0.2))
  );
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
  color: #fff;
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0 0.6rem 0 0.2rem;
}
/* @media only screen and (max-width: 56.25em) {
  .popup__text {
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__text {
  }
} */
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link,
.popup__close:visited {
  color: #555;
  position: absolute;
  top: 1.5vw;
  right: 5vh;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: var(--mainBlue);
}
.btn--green {
  background: var(--mainBlue);
  color: #fff;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.66);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.66);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: max-content;
  margin: auto;
  padding: 0.7rem 2rem;
}
.btn--green:hover {
  color: var(--mainBlack);
  background: var(--mainYellow);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.heading-secondary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--mainYellow)),
    to(var(--mainBlue))
  );
  background-image: linear-gradient(
    to right,
    var(--transparentBlue),
    var(--mainBlack)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1.9rem;
  z-index: 10000;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 1 rem;
  }
  .popup__close:link,
  .popup__close:visited {
    top: 3vw;
  }
  .secondary-h2 {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
}
.heading-secondary:hover:not(.secondary) {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%) scale(1.1);
  transform: translate(-50%, -100%) scale(1.1);
}
.secondary:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.secondary-h2 {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}
/* end of popup */
